attrs
awsebcli
bcrypt
blessed
botocore
black
cached-property
cement
certifi
cffi
chardet
charset-normalizer
colorama
coverage
coveralls
cryptography
Django
docker
docker-compose
dockerpty
docopt
docutils
flake8
future
git-remote-codecommit
idna
jmespath
jsonschema
paramiko
pathspec
pycparser
PyNaCl
pyrsistent
python-dateutil
pytz
PyYAML
requests
semantic-version
six
sqlparse
termcolor
texttable
urllib3
wcwidth
websocket-client
